<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SymBNB - {% block title %}Welcome!{% endblock %}</title>
        <meta name="ViewPort" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="{{asset('build/css/app.css')}}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    
    {% include 'partials/header.html.twig'  %}

  {#  {{dump(app.flashes)}} c'est pour le test #}

 {#    {% block header %}{% endblock %} #}
    
   <!-- <p>Vous etes sur mon site web</p> -->
        {% block body %}{% endblock %}

        {% include 'partials/footer.html.twig'  %}

        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
